#light {
  background-color: white;
}

#dark{
  background-color: black;
}

#light .nvbr{
  background-color: white;
  border-radius: 10px;
}
#dark .nvbr{
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

#light .header-icon{
  color: black;
}
#dark .header-icon{
  color: rgb(255, 255, 255);
}

#light .logo{
  filter: invert(1);
}
#dark .icon{
  filter: invert(1);
}
#light .txt{
  color: black !important;
}
#dark .txt{
  color: rgb(255, 255, 255) !important;
}
